* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3em;
    color: #0000ff;
}

nav {
    margin: 0;
    width: 100vw;
    background-color: red;
    height: 30px;
}

nav ul li {
    padding: 20px;
    position: relative;
    display: inline;
    text-decoration: none;
}

ul {
    padding-top: 8px;
    margin: 0;
}

#team-table {
    margin: 0 auto 0 auto;
    background-color: lightgray;
    width: 700px;
    height: 500px;
}

table, th, td {
    border: 1px black solid;
    border-collapse: collapse;
}

#funny-element {
    position: relative;
    top: 1800px;
    left: 0;
    background-color: green;
    width: 200px;
    height: 30px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 644px;
}

#container > img {
    width: 300px;
    height: 200px;
    margin: 10px;
    border: 1px red solid;
}